{
  "dev": {
    "test_user_name":       "Your Full Name",
    "test_user_email":      "you@example.com",
    "test_user_password":   "yourpassword",
    "test_admin_name":      "Admin User",
    "test_admin_email":     "admin@example.com",
    "test_admin_password":  "adminpassword",
    "admin_secret":         "dev-admin-secret"
  },
  "gateway-only": {
    "test_user_name":       "Your Full Name",
    "test_user_email":      "you@example.com",
    "test_user_password":   "yourpassword",
    "test_admin_name":      "Admin User",
    "test_admin_email":     "admin@example.com",
    "test_admin_password":  "adminpassword",
    "admin_secret":         "dev-admin-secret"
  }
}
